@use 'sass:map';
@use '@angular/material' as mat;


@mixin menu-themes($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, primary);
  $foreground-palette: map.get($color-config, foreground);
  $background-palette: map.get($color-config, background);

  .mat-mdc-menu-panel {
    --mat-menu-container-shape: 16px !important;
  }

}

@mixin menu-colors($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, primary);
  $foreground-palette: map.get($color-config, foreground);
  $background-palette: map.get($color-config, background);

}
