@use 'sass:map';
@use '@angular/material' as mat;
@use 'themes';

@mixin default-base-color($theme) {
  $color-config: mat.get-color-config($theme);

  $is_dark: map.get($color-config, is-dark);

  $foreground-palette: map.get($color-config, foreground);
  $background-palette: map.get($color-config, background);

  $primary-palette: map.get($color-config, primary);
  $base_primary: mat.get-color-from-palette($primary-palette, if($is_dark, 300, 600));

  color: mat.get-color-from-palette($foreground-palette, text);
  background-color: mat.get-color-from-palette($background-palette, background);

  :focus-visible {
    outline-color: $base_primary;
  }


}
