@use 'sass:map';
@use '@angular/material' as mat;
@use 'themes';
@use 'animations';

@mixin nav-rail-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, primary);
  $background-palette: map.get($color-config, background);

  .nav-rail-container {
    width: var(--main-menu-width, 64px);
    height: 100%;
    z-index: 2;
    padding: 0 8px 8px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background: mat.get-color-from-palette($background-palette, dialog);
  }

  .btn-drawer-toggle-container {
    width: var(--main-menu-width, 68px);
    height: var(--top-bar-height, 64px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-rail-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .mat-mdc-nav-list {
      width: 100%;
    }

    ::ng-deep .mat-mdc-list-item {
      flex-direction: column;
      justify-content: center;
      height: initial;
      padding: 0;
      gap: 0.25em;

      .mat-icon {
        margin: initial;
        padding: 0.25em 0.625em;
        border-radius: 18px;
      }

      .mdc-list-item__content {
        font-size: 0.75em;
      }

      &:hover {
        .mat-icon {
          animation: font-filled-and-bold 300ms animations.$transition-fn both;
        }
      }

      &:hover, &:focus {
        &::before {
          background: initial;
        }
      }

      &.active, &:hover, &:focus {
        .mat-icon {
          background-color: rgba(mat.get-color-from-palette($primary-palette, 600), 0.1);
          color: mat.get-color-from-palette($primary-palette, 600);
          font-variation-settings: 'FILL' 1;
        }

        .mdc-list-item__content {
          .mdc-list-item__primary-text {
            color: mat.get-color-from-palette($primary-palette, 600);
          }
        }
      }
    }
  }
}

@mixin nav-rail-color($theme) {
  $color-config: mat.get-color-config($theme);
  $is_dark: map.get($color-config, is-dark);
  $primary-palette: map.get($color-config, primary);
  $base_primary: mat.get-color-from-palette($primary-palette, if($is_dark, 300, 600));
  $background-palette: map.get($color-config, background);

  .nav-rail-container {
    background: mat.get-color-from-palette($background-palette, dialog);
  }

  .nav-rail-menu {
    ::ng-deep .mat-mdc-list-item {

      &.active, &:hover, &:focus {
        .mat-icon {
          background-color: rgba($base_primary, 0.1);
          color: $base_primary;
        }

        .mdc-list-item__content {
          .mdc-list-item__primary-text {
            color: $base_primary;
          }
        }
      }
    }
  }
}

@include nav-rail-theme(themes.$app-theme);

::ng-deep body.dark app-nav-rail {
  @include nav-rail-color(themes.$app-dark-theme)
}
