<nav class="nav-rail-container">
  <div class="btn-drawer-toggle-container">
    <button type="button" aria-label="Toggle Menu" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">
        @if (drawer.opened) {
          menu_open
        } @else {
          menu
        }
      </mat-icon>
    </button>
  </div>
  <mat-nav-list class="nav-rail-menu">
    <ng-container *ngFor="let menuItem of menus">
      <ng-container *ngIf="!menuItem.children">
        <ng-container>
          <a [routerLink]="menuItem.path" mat-list-item [disableRipple]="true"
             routerLinkActive="active" [routerLinkActiveOptions]="{exact: menuItem.exact ?? false}">
            <mat-icon *ngIf="!menuItem.icon?.custom" class="list-icon nav-rail-list-icon"
                      matListItemIcon>{{ menuItem.icon?.name
              }}
            </mat-icon>
            <mat-icon *ngIf="menuItem.icon && menuItem.icon.custom" [svgIcon]="menuItem.icon.name"
                      class="list-icon nav-rail-list-icon"
                      matListItemIcon></mat-icon>
            <span matListItemTitle>{{ menuItem.name }}</span>

          </a>
        </ng-container>

      </ng-container>
    </ng-container>
  </mat-nav-list>
  <span class="flex-spacer"></span>
  <app-theme-switcher></app-theme-switcher>
</nav>
