<div class="page-container">
  @if ((isHandset$ | async) === false) {
    <app-nav-rail [menus]="main_navigation_menus" [drawer]="drawer"></app-nav-rail>
  }
  <mat-sidenav-container class="sidenav-container" [ngClass]="isHandset() ? 'mobile' : ''">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async)? 'over' : 'side'"
                 [opened]="((isHandset$ | async) === false)"
                 [ngClass]="{hidden: !showSidebar}"
                 [hidden]="!showSidebar"
    >
      <app-nav-drawer [menus]="menus"></app-nav-drawer>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-top-bar [hideAppLogo]="hideAppLogoInNavbar" [showSearchBar]="showSearchBar" [drawer]="drawer"></app-top-bar>
      @if ((isHandset$ | async) === true) {
        <app-nav-bar [menus]="main_navigation_menus"></app-nav-bar>
      }
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>



