@use 'sass:map';
@use '@angular/material' as mat;
@use 'themes';

@mixin layout-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, primary);
  $background-palette: map.get($color-config, background);

  .page-container {
    display: flex;
  }

  app-top-bar {
    position: sticky;
    top: 0;
    z-index: 3;
  }

  app-nav-rail {
    z-index: 2;
    position: fixed;
  }

  .sidenav-container {
    height: 100vh;
    padding-inline-start: var(--nav-rail-width);
    width: 100%;

    &.mobile {
      padding-inline-start: 0;
    }
  }

  .sidenav.mat-drawer {
    width: 256px;
    border: none;

    &.hidden {
      display: none;
    }
  }

}

@mixin layout-color($theme) {
  $color-config: mat.get-color-config($theme);
  $is_dark: map.get($color-config, is-dark);
  $primary-palette: map.get($color-config, primary);
  $base_primary: mat.get-color-from-palette($primary-palette, if($is_dark, 300, 600));
  $background-palette: map.get($color-config, background);

  .sidenav.mat-drawer {
    background-color: mat.get-color-from-palette($background-palette, background);
    border: none;
  }

}


@include layout-theme(themes.$app-theme);
@include layout-color(themes.$app-theme);

::ng-deep #app-body.dark app-main-layout {
  @include layout-color(themes.$app-dark-theme);
}
