<mat-toolbar class="site-top-bar">
  <mat-toolbar-row>
    <app-logo *ngIf="!hideAppLogo" routerLink="/"></app-logo>
    <span class="flex-spacer" *ngIf="(!hideAppLogo || !showSearchBar)"></span>
    <app-search class="search-box" *ngIf="showSearchBar"></app-search>
    <button mat-stroked-button color="primary" *ngIf="appHasUpdate()" (click)="reloadApp()">Finish update</button>
    <app-theme-switcher *ngIf="showThemeSwitcher"></app-theme-switcher>
    <button class="btn-user-menu" mat-stroked-button
            *ngIf="user() as user; else signInButton"
            [matMenuTriggerFor]="userMenu"
            (menuClosed)="true"
            [attr.aria-label]="'Open User menu for #username'">
      <mat-icon>account_circle</mat-icon>
      <span class="user-name">#username</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu class="user-menu" #userMenu="matMenu" xPosition="before">
  <header>
    <p>John Doe</p>
  </header>
  <mat-divider></mat-divider>
  <footer>
    <button mat-menu-item (click)="signOut()">
      <mat-icon>logout</mat-icon>
      <span>Sign out</span>
    </button>
  </footer>
</mat-menu>


<ng-template #signInButton>
  <button class="btn-user-menu" mat-stroked-button
          (click)="signIn()"
          aria-label="Sign in">
    <mat-icon>account_circle</mat-icon>
    Sign in
  </button>
</ng-template>
